
div {
    width: 100px;
    height: 100px;
    background: pink;
    font-size: 30px;
    float: right;
}

.caja {
    position: static;
    top: 100px;
    bottom: 0;
    right: 0;
    left: 200px;
}

